body{
    background-color: #b252a0;
   
}
nav{
    display: inline;
    display:grid;
    grid-template: repeat(1fr 5);
    justify-items: center;
}
ul {
    list-style-type: none;  
    
  }
li{
    display: inline;
    background-color: yellow;
    text-decoration: none;
    padding: 5px 70px;
    margin: 2px;
}
a{
    text-decoration: none;
} 
#main{
    width: 200px;
    display:grid;
    grid-template-areas: "a a"
                         "b c";
    grid-template: 2fr, repeat(1fr 2);
   
} 
.a {
    width: 200px;
    object-fit: contain;
}

.b {
    background-color: yellow;
    width: 200px;
    height: 150px
}
.c {
    background-color: yellow;
}
.photo{
    display: grid;
    grid-gap: 20px;
    grid-template-columns:repeat(6, 200px);
    grid-template-rows: repeat(2, 200px);
    justify-content: center;
     
}
footer p {
    text-align: center;
    font-weight: bold;
    background-image: linear-gradient(to right, green yellow);

}
