body{
   
 background-color: #b252a0;
   
}

nav{
    display: inline;
    display:grid;
    grid-template: repeat(1fr 5);
    justify-items: center;
}
ul {
    list-style-type: none;  
    
  }
li{
    float: left;
    background-color: yellow;
    text-decoration: none;
    padding: 5px 90px;
    margin: 2px;
}
li a{
    display: block;
    text-decoration: none;
} 
#main{
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows:150px 150px;   
   
} 
.a {
    grid-column: 1 /3;
    grid-row: 1/ 3; 
    position: relative;
    text-align: center;  
  }
 
  .b {
    grid-column: 3;
    grid-row: 1;
    background-color: yellow;
  }
  .c {
    grid-column: 3;
    grid-row: 2;
    background-color: yellow;
  }
h2{
    text-align: center;
    font-size: 40px;
    font-weight:lighter;
    margin-bottom: 0px;
}
h6{
    text-align: center;
    margin-top: 5px;
    font-weight: bold;
}

.mainImageText1{
    position: absolute;
    top: 40%;
    right:75%;
    background-color: yellow;
    padding: 10px 15px;
    font-weight: bold;
}
.mainImageText2{
    position: absolute;
    top: 60%;
    right:80%;
    background-color: yellow;
    padding: 5px;
    font-weight: bold;
    font-size: small;
}      
 #taco{
    background-color: white;
    margin: 20px;
    padding: 20px;
    height: 300px;
    
 }
 #tacoImg{
    float:left;
       
 }
 #tacoText{
    padding-top:70px ;
 }
 
    
 
 .button a{
    background-color: yellow;
    padding: 5px;
    display: inline;
 }

.photo{
    display: grid;
    grid-gap: 20px;
    grid-template-columns:repeat(6, 200px);
    grid-template-rows: repeat(2, 200px);
    justify-content: center;
     
}
footer p {
   
    text-align: center;
    font-weight: bold;  
    
}
#grams {

    background-image: radial-gradient(yellow 15%,  #b252a0 60%);
    text-align: center;
    margin-bottom: 20px;
}
#grams p {
    background-color: #b252a0;
    padding: 20px;
    display: inline;
}
 

